html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: darkgray;
  color: black;
}

.icon {
  height: 24px;
  width: 24px;
}

.pfp {
  height: 48px;
  width: 48px;
}

b {
  font-weight: bold;
}

body {
  display: grid;
  grid-template: 200px 1fr/1fr 4fr;
  font-family: Arial, Helvetica, sans-serif;
}

.medium {
  height: 36px;
  width: 36px;
}

header {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 20px -5px gray;
  background-color: white;
  min-width: 75vw;
  margin-bottom: 4px;
}
header > div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: column;
  place-items: center;
  gap: 12px;
}
header > div > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  place-items: center;
}
header > div > div > p {
  font-weight: bold;
}
header > div > div > p > b {
  font-size: 1.75rem;
}
header > div > div > input[type=search] {
  border-radius: 16px;
  outline: none;
  border: none;
  grid-column: 2/4;
  height: 1.75rem;
  width: 38rem;
  background-color: #dee3e7;
  justify-self: start;
  padding: 12px;
}
header > div:first-child {
  margin-right: auto;
}
header > div:first-child > div:first-child {
  display: flex;
  justify-self: start;
  gap: 16px;
  min-width: 640px;
}
header > div:first-child > div:first-child > div {
  justify-self: start;
}
header > div:first-child > div:last-child {
  display: flex;
  gap: 24px;
  margin-left: auto;
}
header > div:last-child {
  margin-right: auto;
}
header > div:last-child > div:first-child {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 24px;
  min-width: 640px;
}
header > div:last-child > div:first-child > img {
  justify-self: start;
  height: 80px;
  width: 80px;
}
header > div:last-child > div:first-child > p {
  line-height: 30px;
}
header > div:last-child > div:last-child {
  display: flex;
  gap: 36px;
  margin-left: auto;
}
header > div:last-child > div:last-child > button {
  border-radius: 24px;
  font-weight: bold;
}

#sidebar {
  grid-row: 1/3;
  background-color: dodgerblue;
  min-width: 20vw;
  display: grid;
  grid-template-rows: 48px 0.1fr 1fr;
  padding: 24px;
  overflow: auto;
  justify-items: start;
  justify-content: start;
  min-height: 100vh;
}
#sidebar > div:first-child {
  display: flex;
  gap: 24px;
  align-items: center;
}
#sidebar > div:first-child > .icon:first-child {
  height: 48px;
  width: 48px;
}
#sidebar > div:first-child > a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  font-size: 2rem;
}
#sidebar > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
  padding-left: 24px;
}
#sidebar > div:nth-child(2) > div {
  display: flex;
  gap: 24px;
}
#sidebar > div:nth-child(2) > div > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}
#sidebar > div:nth-child(2) > div > a:hover {
  color: darkgray;
}
#sidebar > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
  padding-left: 24px;
}
#sidebar > div:last-child > div {
  display: flex;
  gap: 24px;
}
#sidebar > div:last-child > div > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}
#sidebar > div:last-child > div > a:hover {
  color: darkgray;
}

main {
  background-color: #dee3e7;
  display: grid;
  grid-template-columns: 2fr 0.75fr;
  gap: 24px;
  padding: 24px;
  min-height: 75vh;
}
main > div:last-child {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  max-height: 800px;
}
main > div:last-child > div {
  display: grid;
  grid-template-rows: 24px 1fr;
  gap: 12px;
}
main > div:last-child > div:first-child > #announcementCardBox {
  display: grid;
  overflow: auto;
  gap: 36px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  place-items: start;
  grid-auto-rows: 0.15fr;
  max-height: 480px;
  align-content: center;
  box-shadow: 6px 7px 10px -5px gray;
}
main > div:last-child > div:first-child > #announcementCardBox > div:first-child {
  padding-top: 0;
  border: none;
}
main > div:last-child > div:last-child #trendingCardBox {
  display: grid;
  overflow: auto;
  gap: 48px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  place-items: start;
  grid-auto-rows: 0.15fr;
  max-height: 480px;
  align-content: center;
  box-shadow: 6px 7px 10px -5px gray;
}
main > div:first-child {
  display: grid;
  grid-template-rows: 24px 1fr;
}
main > div:first-child > h3 {
  padding-left: 12px;
}
main > div:first-child #cardBox {
  overflow: auto;
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
  grid-auto-rows: minmax(250px, 250px);
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  place-items: center;
  padding: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 250px;
  padding: 24px;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: inset 12px 0 0px -4px #d1b517, 6px 7px 10px -5px gray;
}
.card > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card > div:first-child > p {
  max-width: 90%;
  color: gray;
}
.card > div:last-child {
  align-self: flex-end;
  display: flex;
  gap: 12px;
}

.announcementCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 2px solid lightgrey;
  padding-top: 36px;
  gap: 6px;
}
.announcementCard > p {
  color: gray;
}

.trendingCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
.trendingCard > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.trendingCard > div > p {
  color: gray;
}

h3, h4, h5 {
  font-weight: bolder;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}