html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

:root {
	--system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}

b {
    font-weight: bold;
}

/* .grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} */

body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: -1px 0px 6px 3px gray;
    background-color: beige;
    > div {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns:  1fr 2fr;
        grid-auto-flow: column;
        place-items: center;
        gap: 12px;
        > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: column;
            place-items: center;
            > p {
                font-weight: bold;
                > b {
                    font-size: 1.5rem;
                }
            }
            > input[type=search] {
                border-radius: 16px;
                outline: none;
                border: none;
                grid-column: 2 / 4;
                height: 1.75rem;
                width: 38rem;
                background-color: lightgray;
                justify-self: start;
                padding: 12px;
            }
        }
    }
    > div:first-child {
        margin-right: auto;
        > div:first-child {
            display: flex;
            justify-self: start;
            gap: 16px;
            min-width: 640px;
            > div {
                justify-self: start;
            }
        }
        > div:last-child {
            display: flex;
            gap: 24px;
            margin-left: auto;
        }
    }
    > div:last-child {
        margin-right: auto;
        > div:first-child {
            display: flex;
            justify-items: flex-start;
            align-items: center;
            gap: 24px;
            min-width: 550px;
            > img {
                justify-self: start;
            }
            > p {
                line-height: 30px;
            }
        }
        > div:last-child {
            display: flex;
            gap: 36px;
            margin-left: auto;
            > button {
                border-radius: 24px;
                font-weight: bold;
            }
        }
    }
}

#sidebar {
    grid-row: 1 / 3;
    background-color: lightblue;
    min-width: 0;
    display: grid;
    grid-template-rows: 48px .5fr 1fr;
    padding: 24px;
    overflow: auto;
    justify-items: start;
    justify-content: start;
    > div:first-child {
        display: flex;
        gap: 24px;
        align-items: center;
        > p {
            font-weight: bolder;
            color: white;
            font-size: 2rem;
        }
    }

    > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 48px;
        > div {
            display: flex;
            gap: 24px;
            > p {
                color: white;
                font-weight: bold;
            }
        }
    }

    > div:last-child {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 72px;
        > div {
            display: flex;
            gap: 24px;
            > p {
                color: white;
                font-weight: bold;
            }
        }
    }
}

main {
    background-color: azure;
}